<div class="row">
    <div class="photo-container">
        <img src="{{image}}" class="photo">
    </div>

    <div class="photo-details">
        <div class="timestamp" data-livestamp="{{created_time}}">{{human_time created_time}}</div>
        <img src="{{profile_pic}}" class="userphoto" alt="{{user}}">
        <a href="http://instagram.com/{{user}}" target="_blank" class="username">{{user}}</a>
        <div class="caption">{{caption}}</div>
    </div>
</div>